.cat1{
    background-color: yellow;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: palegoldenrod;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    /* problem */
    border-radius: 10px;

}
.catagories h1{
    color: white;
    
} 
.row img{
    width: 100px;
}
