.container{
    margin-bottom: 100px;
    
    
}

.bg-color
{
    background-color: #fceae8;
    border-radius: 10px;
    
}
.carousel-item{
    padding: 20px 40px;
}
.button{
    background-image: linear-gradient(to bottom,#FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

/* Catagory Part */

.cat1{
    background-color: yellow;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: palegoldenrod;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    /* problem */
    border-radius: 10px;

}
.catagories h1{
    color: white;
    
} 
.row img{
    width: 100px;
}

/* card */
.card{
    border: none;
    box-shadow: 5px 5px 10px grey;
}
.card-footer{
    border-top: none;
    background-color: white;
}

/* Contact us */
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: grey;
}

/* footer */
footer{
    text-align: center;
}
